.device {
  width: 100%;
}

.dev-table-blank {
  width: 5%;
}

/* blank 4 side */
.dev-table-blank-left {
  background-color: #04AA6D;
  color: white; 
  width: 5%;
}

.dev-table-blank-right {
  background-color: #04AA6D;
  color: white;
  width: 5%;
}

.dev-table-blank-top {
  background-color: #04AA6D;
  color: white;
  height:  30px;
}

.dev-table-blank-botton {
  background-color: #04AA6D;
  color: white;
  height:  30px;
}

.dev-it {
  /*background-color: #04AA6D;*/
}

.dev-id  {
  /*background-color: #04AA6D;*/
}

.dev-ip  {
  /*background-color: #04AA6D;*/
}

.dev-name  {
  /*background-color: #04AA6D;*/
}

.dev-value  {
  /*background-color: #04AA6D;*/
}

.dev-control  {
  /*background-color: #04AA6D;*/
}