.table {
	border: 1px solid;
	/*width: 100%;*/
}

.table-blank {
	width: 20%;
}

.table-blank-left {
	width: 10%;
}

.table-blank-right {
	background-color: #04AA6D;
	color: white;
	width: 10%;
}

.table-blank-top {
	background-color: #04AA6D;
	color: white;
	height:  40px;
}

.table-blank-botton {
	background-color: #04AA6D;
	color: white;
	height:  20px;
}