.header {
  background: red;
  overflow: auto;
  width: 100%;
}

.header-icon {
  background-color: aqua;
}

.header-banner {
  background-color: aqua;
  float: right;
  font-size: 30px;
  width: 100%;
}

.footer {
  overflow: auto;
  width: 100%;
}

.content {
  border-top: 1px solid red;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
}

.table {
  border: 2px solid blue;
}

.table-dev {
  border: 2px solid blue;
}

.dev-it {
  border: 2px solid blue;
}

.dev-id  {
  background-color: aqua;
  font-size: 20px;
}

.dev-ip  {
  background-color: aqua;
  border-top: 1px solid red;
  font-size: 20px;
  margin-bottom: 1px;
  margin-left: 1px;
/*  margin-top: 1px;
  margin-right: 1px;*/
}

.dev-name  {
  background-color: aqua;
  border-top: 1px solid red;
  font-size: 20px;
  margin: 1px;
}

.dev-value  {
  background-color: aqua;
  border-top: 1px solid red;
  font-size: 10px;
}